<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="0; URL=/?code=<%= code %>" />

    <title>Cookie Tester</title>
</head>

<body>
    <p>You are being redirected to <a href="/?code=<%= code %>">the home page</a></p>
</body>
</html>
